# Scala CLI
bin/
target/
build/
.scala-build/
.bloop/
.bsp/
.metals/
.lh/
.cache/
.cache-main
.classpath
.history
.project
.scala/
.scala_dependencies
.settings
.worksheet
.DS_Store
*.class
*.tasty
*.log
*.iml
*.ipr
*.iws
.idea
meta.json
metals.sbt
project/project
.config
DID_Me

# Created by https://www.toptal.com/developers/gitignore/api/helm,visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=helm,visualstudiocode

### Helm ###
# Chart dependencies
**/charts/*.tgz

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

# End of https://www.toptal.com/developers/gitignore/api/helm,visualstudiocode
